@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p id="about-body">This project was created at the Startup Iceland Vodafone Hackathon 2015, to showcase the Vodafone vehicle API. Project creators: Anna Laufey Stefánsdóttir, Dagný Lára Guðmundsdóttir, Orri Guðlaugur Jónsson, Sara Árnadóttir.</p>
