@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p style="color:white; font-size: 20px;">This project was created at the startup iceland vodafone hackathon 2015, to showcase the vodafone vehicle api. Project creators: Anna Laufey Stefánsdóttir, Dagný Lára Guðmundsdóttir, Orri Guðlaugur jónsson, Sara Árnadóttir.</p>
