@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
       <h2> Welcome!</h2>
        @using (Html.BeginForm())
        {
            <label for="RegistrationNumber"></label>
            @Html.TextBox("RegistrationNumber")
            @Html.ValidationMessage("RegistrationNumber")
            <input type="submit" value="Select" />
        }

    </div>
</div>