@{
    ViewBag.Title = "Home Page";
}

@model PetrolPal.Models.IndexViewModel

<div class="row">
    <div class="col-md-12 text-center"><h2> <img src="~/Content/Images/logo2.png" alt="Ga$Budy"/></h2></div>
    <div class="col-md-4"></div>   
    <div class="col-md-4">
        <div class="text-center">
            @using (Html.BeginForm())
            {
                <div class="input-group">
                    @Html.TextBoxFor(model => model.regnum, new { type = "text", @class="form-control", placeholder = "Car's registration number" })
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
            <div class="col-md-4"></div>
</div>
</div>
</div>      