

body {
    padding-top: 90px;
    padding-bottom: 20px;
    width: 100%;
    
}

.frontpage{
	background: url(bg_traffic3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 0%; 
}


.logo{

	max-width: 100%
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */



/* Sara css */
.date-picker {
}


#data-button {
        margin: 0 auto;
        float: left;   
            margin-top: 25px;

}

@media(max-width: 992px) {
    #data-button {
        margin-top:0px;
    }
}




.summary-body {
    padding: 10px 10px;


}

a:visited {
    color: #428bca;
}

h3 {
    clear:left;

}
